@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 746px) { @content; }
    }
    @if $point == mobile {
        @media (max-width: 746px) { @content; }
    }
}